

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_bg{
    background-image: url(./fd4fd8b5-group-17508\ \(1\).jpg);
    max-width: 1280px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 5px;

    
}
.form{
    width: 650px;
    background: transparent;
    border-radius: 5%;
    border: 2px solid grey;
    height: 450px;

}

.form-text{
    text-align: center;
    margin: 0 0 40px 0;
    color: #fff;
}
.form-text h1 span img{
    margin: 0 10px;

}
.form-text h1{
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
}
.form-text p{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.main-form div{
    margin: 10px 10px;
    width: 300px;
    display: inline-block;
    opacity: 1;
}
.main-form div input {
    width: 100%;
    background: none;
    border: 1px solid #ffca00;;
    font-size: 20px;
    color: #fff;
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
}
.main-form div select{
    
    width: 100%;
    height: 100%;
    
    background: none;
    border: 1px solid #ffca00;;
    font-size: 20px;
    color: #fff;
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;

}
.main-form div span{
    width: 100%;
    font-family:Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 25px;
}

#submit{
    width: 100%;
    text-align: center;
}
#submit input{
    font-family:Arial, Helvetica, sans-serif;
    width: 400px;
    background-color: yellow !important;
    color: black !important;
    transition: all .3s;
}
#submit input:hover{
    font-family:Arial, Helvetica, sans-serif ;
    width: 150px;
    background-color: black !important;
    color: #fff !important;
}
#submit input:active{
    font-size: 19px;
    background-color: rgb(46, 20, 5) !important;
    color: #fff !important;
}


@media screen and (width<=885px) {
    .main-form{
        text-align: center;
    }
}
@media screen and (width<=410px) {
    .main-from{
        text-align: center;
    }
}
@media screen and (width<=420px){
    .main-form{
        margin-bottom: 5%;
    }
}
